<html xmlns:th="http://www.thymeleaf.com"
      xmlns:sec="http://www.thymeleaf.com/extras/spring-security"
      th:replace="fragments/layout :: layout(~{::body}, 'home')">
<body>
  <h1>Index Page</h1>
  
  <div class="row">
    <div class="col-md-12">
      <div th:if="${param.logout}" class="alert alert-success">You Have Logged Out.</div>
      <div th:if="${param.error} and ${session['SPRING_SECURITY_LAST_EXCEPTION']}" th:text="${session['SPRING_SECURITY_LAST_EXCEPTION']?.message}" class="alert alert-danger"></div>
      <form th:action="@{/login}" method="post"
            sec:authorize="!isAuthenticated()">
        <lable for="username"></lable>
        <input type="text" id="username" name="username" autofocus="true" autocomplete="off" />
        <lable for="password"></lable>
        <input type="password" id="password" name="password" autofocus="true" autocomplete="off" />
        <input type="submit" value="Log In" />
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input type="checkbox" name="remember-me" id="remember-me" /> Remember Me
      </form>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <p sec:authorize="isAuthenticated()" th:text="'Welcome: ' + ${#authentication?.principal?.username}">User</p>
      <p><a th:href="@{/logout}">Log Out</a></p>
    </div>
  </div>
</body>
</html>